<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js" lang="en"> <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <meta name="description" content="">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <meta property="og:title" content="" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        <meta property="fb:profile_id" content="">

        <!-- Vendor Styles -->
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/ionicons.min.css">
        <!-- / Vendor Styles -->

        <!-- Fonts -->
        <!-- / Fonts -->

        <!-- Custom Styles -->
        <link rel="stylesheet" href="/assets/css/main.css">
        <!-- / Custom Styles -->

        <!-- Vendor Scripts -->
        <script src="/assets/js/vendor/modernizr.min.js"></script>
        <!-- /Vendor Scripts -->

        <!-- Plugin Scripts -->
        <script src="/assets/js/plugins/history.adapter.jquery.min.js"></script>
        <script src="/assets/js/plugins/history.min.js"></script>
        <!-- /Plugin Scripts -->

        <!-- Custom Scripts -->
        <script src="/assets/js/main.js"></script>
        <!-- / Custom Scripts -->
    </head>
    <body>

        <%- body -%>

    </body>
</html>
